<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">

    <settings>
      <setting name="Sitecore.ContentTagging.TextAnalytics.SubscriptionKey" value="202992fa87f348688ede4e248235465e" />    
      <setting name="Sitecore.ContentTagging.TextAnalytics.EndPoint" value="https://westus2.api.cognitive.microsoft.com" />
      <setting name="Sitecore.ContentTagging.TextAnalytics.DefaultConfigurationName" value="TextAnalytics" />
      <setting name="Sitecore.ContentTagging.TextAnalytics.SentimentRangesRepository" value="/sitecore/system/Modules/TextAnalyticsTagging/Sentiment Ranges" />
      <setting name="Sitecore.ContentTagging.TextAnalytics.TagRepository" value="{154D56CC-0DE2-43C7-BBC0-A25BD7FFD901}" />

      <!-- 
      Naming pattern to use when creating tag items - {key} and {value} will be replaced by respective values
      -->
      <setting name="Sitecore.ContentTagging.TextAnalytics.TagNamePattern" value="{key} - {value}" />

      <!-- 
      Fields used as content to feed the TextAnalyzer - A pipe-delimited list of field names or IDs
      If empty, all fields are used, except internals (starting with "__")
      -->
      <setting name="Sitecore.ContentTagging.TextAnalytics.FieldsToProcess" value="Page Title|Body|Teaser" />

      <!-- Enable/Disable Sentiment Detection -->
      <setting name="Sitecore.ContentTagging.TextAnalytics.SentimentAnalysisEnabled" value="True" />

      <!-- Enable/Disable Entity Detection for Tags -->
      <setting name="Sitecore.ContentTagging.TextAnalytics.EntityAnalysisEnabled" value="True" />
    </settings>

    <pipelines>
      <group name="ContentTagging" groupName="ContentTagging">
        <pipelines>
          <getTaggingConfiguration>
            <processor patch:before="*[@type='Sitecore.ContentTagging.Pipelines.GetTaggingConfiguration.BuildConfiguration, Sitecore.ContentTagging']"
                       type="Sitecore.ContentTagging.TextAnalytics.Pipelines.GetTextAnalyticsConfiguration, Sitecore.ContentTagging.TextAnalytics" resolve="true" />
          </getTaggingConfiguration>
        </pipelines>
      </group>
    </pipelines>

    <contentTagging>
      <providers>
        <content>
          <add name="TextAnalyticsContentProvider"
               type="Sitecore.ContentTagging.TextAnalytics.Providers.TextAnalyticsContentProvider, Sitecore.ContentTagging.TextAnalytics"/>
        </content>
        <discovery>
          <add name="TextAnalyticsDiscoveryProvider"
               type="Sitecore.ContentTagging.TextAnalytics.Providers.TextAnalyticsDiscoveryProvider, Sitecore.ContentTagging.TextAnalytics"/>
        </discovery>
        <taxonomy>
          <add name="TextAnalyticsTaxonomyProvider"
               type="Sitecore.ContentTagging.TextAnalytics.Providers.TextAnalyticsTaxonomyProvider, Sitecore.ContentTagging.TextAnalytics"/>
        </taxonomy>
        <tagger>
          <add name="TextAnalyticsTagger"
               type="Sitecore.ContentTagging.TextAnalytics.Providers.TextAnalyticsTagger, Sitecore.ContentTagging.TextAnalytics"/>
        </tagger>
      </providers>
      <configurations>
        <config name="TextAnalytics">
          <content>
            <provider name="TextAnalyticsContentProvider"/>
          </content>
          <discovery>
            <provider name="TextAnalyticsDiscoveryProvider"/>
          </discovery>
          <taxonomy>
            <provider name="TextAnalyticsTaxonomyProvider"/>
          </taxonomy>
          <tagger>
            <provider name="TextAnalyticsTagger"/>
          </tagger>
        </config>
      </configurations>
    </contentTagging>

    <services>
      <register serviceType="Sitecore.ContentTagging.TextAnalytics.Repositories.ICognitiveTextAnalyticsRepository, Sitecore.ContentTagging.TextAnalytics"
                implementationType="Sitecore.ContentTagging.TextAnalytics.Repositories.CognitiveTextAnalyticsRepository, Sitecore.ContentTagging.TextAnalytics"
                lifetime="Transient"/>
    </services>

  </sitecore>
</configuration>